* {
  box-sizing: border-box;
}

header {
  margin-top: 2vh;
  margin-bottom: 1vh;
}

body {
  margin: 0;
  background-color: #ccff99;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  background-color: white;
  border: 1px solid gray;
  box-shadow: 1rem -0.5rem 0.75rem rgba(127, 127, 127, 0.4);
  padding: 2vw 3vw;
}

#submit-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

#submit-wrapper button {
  font-size: 1.5rem;
  color: white;
  background-color: #6badff;
  padding: 1vh 2vw;
  margin: 2vh;
  border: 1px solid darkblue;
  border-radius: 15px;
}

footer {
  margin-top: 1vh;
}
